<!DOCTYPE html>
<html>
  <head>
    <title>PatrimoreChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="container">
    <% if notice.present? %>
      <p class="alert alert-info" role="alert"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-warning" role="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
